        <div class="col-md-6" id="error-info">
          <div class="card">
            <div class="card-header bg-info"> Oops!  Something went wrong...</div>
            <div class="card-body bg-light">
              <div class="row">
                <div>Unable to get the weather for <%= @location.name %>.</div>
              </div>
              <div class="row">
                <div>We have notified our support team.  Please try again later.</div>
              </div>
            </div>
          </div>
        </div>