        <div class="col-md-4">
          <div class="table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Locations</th>
                </tr>
              </thead>
              <tbody>
                <% @locations.each do |location| %>
                <tr id="location-id-<%= location.id %>">
                  <td><%= link_to location.name, "/#{location.id}" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>